USE [exams]
GO
/****** Object:  Table [dbo].[finalq]    Script Date: 27/11/2016 2:56:23 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[finalq](
	[txt] [text] NOT NULL,
	[opta] [text] NOT NULL,
	[optb] [text] NOT NULL,
	[optc] [text] NOT NULL,
	[optd] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
