USE [exams]
GO
/****** Object:  Table [dbo].[tmpq]    Script Date: 27/11/2016 2:57:46 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpq](
	[txt] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
